body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(http://staff.hamk.fi/~tsaksa/temp/background-image.jpg);
    background-size: cover;
}

header nav {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


img{
    width: 50%;
}
nav li {
    display: inline;
    padding: auto;
    padding-top: 100px;
    text-align: center;

}
